/* =========================
   CAROUSEL Y CARDS
========================= */
.card-carousel {
  width: 280px;
  height: 180px;
  border-radius: 20px;
  overflow: hidden;
  background: #111;
}

.card-carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-img-top {
  width: 100%;
  height: 390px;
  object-fit: cover;
  object-position: center;
}

.card {
  height: auto;
  min-height: 40px;
}

/* =========================
   FORMULARIOS
========================= */
.estilo-card-formulario {
  width: 100%;
  max-width: 400px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.2);
}

/* =========================
   EMPLEADOS
========================= */
.card-empleado {
  background-color: #e6e6e6;
  padding: 15px;
  border-radius: 20px;
  height: 100%;
}

.card-empleados {
  background: #e0e0e0;
  border-radius: 20px;
  padding: 15px;
}

/* =========================
   PANEL DE TURNOS
========================= */
.panel-turnos {
  background: #5b6bb3;
  border-radius: 20px;
  color: white;
  padding: 20px;
}

/* =========================
   MESAS
========================= */
.mesa {
  border: 2px solid #333;
  border-radius: 10px;
  padding: 25px;
  background-color: #f8f9fa;
  cursor: pointer;
  transition: 0.3s;
}

.mesa:hover {
  transform: scale(1.05);
}

.mesa.ocupada {
  background-color: #dc3545;
  color: white;
  cursor: not-allowed;
}

.mesa.seleccionada {
  border: 3px solid #334691;
  background-color: #cfe2ff;
}

/* =========================
   RESERVAS
========================= */
.header-reservas {
  color: black;
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  margin-bottom: 30px;
}

.header-reservas h4 {
  margin: 0;
  font-size: 26px;
  font-weight: 600;
  margin-left: 120px;
}
