/* * {
    scroll-behavior: smooth;
} */

.color-primario {
    background-color: #334691;
}

.titulo-nav {
    color: #ffffff;
    font-weight: 500;
    letter-spacing: 3px;
    text-shadow:
        0 0 2px #c77dff,
        0 0 6px #9d4edd,
        0 0 12px #7b2cbf;
}

.subtitulo {
    color: #000000;
    font-weight: 500;
    letter-spacing: 3px;
    text-shadow:
        0 0 2px #c77dff,
        0 0 6px #9d4edd,
        0 0 12px #7b2cbf;
}

.estilo-card-formulario {
    width: 100%; 
    max-width: 400px; 
    background-color: rgba(255, 255, 255, 0.1); 
    border: 2px solid rgba(255, 255, 255, 0.2);
}